<!DOCTYPE html>
  <html>
    <head>
		<title>{% block title %}{% endblock %}</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/static/ip_manager/css/materialize.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		{% block head %}{% endblock %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<style>
            #new_subnet_button{
                padding: 0 .5rem !important;
            }

            {% block style %}{% endblock %}

            #search{
                margin: 0;
                height: 55px;
            }

            nav .brand-logo {
                position: absolute;
                display: inline-block;
                font-size: 2.1rem;
                padding: 0 15px;
                white-space: nowrap;
            }
		</style>
    </head>

    <body class="grey">

    {% block navigation %}{% endblock %}

	{% block content %}{% endblock %}


    <div id="NewSubnetForm" class="modal">

        <form id="new_subnet_form" action="{% url 'ip_manager:new_subnet' %}">

                    {% csrf_token %}

                    <div class="modal-content">

                        <div class="row">

                            <div class="input-field col s9">
                              <input name="name" id="name" type="text" class="validate">
                              <label class="active" for="name">Subnet Name</label>
                            </div>

                            <div class="col s3 center">
                              <h6>Network Type</h6>
                              <div class="switch">
                                <label>
                                  Static
                                  <input name="type" type="checkbox">
                                  <span class="lever"></span>
                                  DHCP
                                </label>
                              </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="input-field col s8">
                              <input name="first_host" id="first_host" type="text" class="validate">
                              <label class="active" for="first_host">Base IP Address</label>
                            </div>

                            <div class="input-field col s2">
                              <input value="/24" name="cidr" id="cidr" type="text" class="validate">
                              <label class="active" for="cidr">Scope</label>
                            </div>

                            <div class="input-field col s2">
                              <input name="vlan" id="vlan" type="text" class="validate">
                              <label class="active" for="vlan">VLAN Number</label>
                            </div>
                        </div>


                        <div class="row">

                            <div class="input-field col s4">
                              <input name="gateway" id="gateway" type="text" class="validate">
                              <label class="active" for="gateway">Gateway</label>
                            </div>

                            <div class="input-field col s4">
                              <input name="dns1" id="dns1" type="text" class="validate">
                              <label class="active" for="dns1">Primary DNS Server</label>
                            </div>

                            <div class="input-field col s4">
                              <input name="dns2" id="dns2" type="text" class="validate">
                              <label class="active" for="dns2">Secondary DNS Server</label>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                      <a id="new_subnet_submit" class=" modal-action modal-close waves-effect waves-green btn-flat">Create Subnet</a>
                    </div>
        </form>

    </div>

	{% block script %}{% endblock %}

	<script>

        function init(){

            $(".button-collapse").sideNav();

			$(".dropdown-button").dropdown();

            $('.modal-trigger').leanModal({
                  dismissible: true, // Modal can be dismissed by clicking outside of the modal
                  opacity: .5, // Opacity of modal background
                  in_duration: 300, // Transition in duration
                  out_duration: 200, // Transition out duration
                  starting_top: '4%', // Starting top style attribute
                  ending_top: '10%', // Ending top style attribute
                  //ready: function() { get_new_subnet_form(); }, // Callback for Modal open
                  //complete: function() { alert('Closed'); } // Callback for Modal close
            });

            $("#new_subnet_submit").click(function(){

                var form = $("#new_subnet_form").serialize()
                var url = $("#new_subnet_form").attr( "action" );
                var posting = $.post( url, form);

                posting.done(function( data ) {
                    $("#NewSubnetForm").closeModal();
                });

            });

            $('.scrollspy').scrollSpy();

            $('.tooltipped').tooltip({delay: 50});

            $('#search').autocomplete({
                data: {
                  "Apple": null,
                  "Microsoft": null,
                  "Google": 'http://placehold.it/250x250'
                }
            });

        }

        $( document ).ready(function () {
            init();
		});

	</script>


	</body>

</html>