<table id="host_table" class="bordered highlight responsive-table centered scrollspy">
    <thead>
      <tr>
          <th>Machine Name</th>
          <th class="center tooltipped" data-position="top" data-delay="50" data-tooltip="Click to edit">IP</th>
          <th>Building</th>
          <th>Location</th>
          <th>Machine Details</th>
          <th class="center">Ethernet Port</th>
          <th>Notes</th>
          <th class="center">Type</th>
          <th class="center tooltipped" data-position="top" data-delay="50" data-tooltip="Click the button to ping host">Ping Status</th>
      </tr>
    </thead>

    <tbody>
      {% for h in hosts %}
      <tr>
          <td>{{ h.machine_name }}</td>
          <td class="center"><a onclick="get_host_detail('{{ h.address }}')">{{ h.address }}</a></td>
          <td>{{ h.building }}</td>
          <td>{{ h.location}}</td>
          <td>{{ h.machine_dec }}</td>
          <td class="center">{{ h.eth_port}}</td>
          <td>{{ h.notes }}</td>
          <td class="center">{{ h.address_type }}</td>
          {% if h.ping_status == "Success"%}
              <td class=""><a onclick="ping_host( '{{ h.id }}' )" class="btn-floating green  tooltipped" data-position="right" data-delay="50" data-tooltip="Ping Succeeded"></a></td>
          {% elif h.ping_status == "Undetermined"%}
              <td class="center"><a onclick="ping_host( '{{ h.id }}' )" class="btn-floating yellow darken-1 tooltipped" data-position="right" data-delay="50" data-tooltip="Could not reach the network"></a></td>
          {% else %}
              <td><a onclick="ping_host( '{{ h.id }}' )" class="btn-floating red tooltipped" data-position="right" data-delay="50" data-tooltip="Ping Failed"></a></td>
          {% endif %}
      </tr>
      {% endfor %}
    </tbody>
</table>
