{% extends "ip_manager/base.html" %}

{% block title %}{% endblock %}

{% block navigation %}
    <ul id="dropdown1" class="dropdown-content">
      <li><a class="" href=""></a></li>
      <li class="divider"></li>
      <li class="center"><button id="new_subnet_button" data-target="NewSubnetForm" class="btn modal-trigger">New Subnet</button></li>
      <li class="center"><a onclick="find_open_host()">Find an open IP</a></li>
      <li><a onclick="ping_sweep()">Ping Sweep</a></li>
    </ul>

    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">

            <a href="/ip_manager" class="brand-logo">{{subnet_name}}</a>

            <ul class="right hide-on-med-and-down ">
           {#<li><a  class="grey-text" href="sass.html">Sass</a></li>#}
              <li class="center"><a class="dropdown-button center" data-activates="dropdown1">Actions<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

          </div>
        </nav>


    </div>
{% endblock %}


{% block content %}

    <div class="container">

        <div class="card-panel hoverable" hidden>
           <div class="row">
               <div class="col l2 s12">
                   <a onclick="find_open_host()" class="waves-effect waves-light btn">Find an open IP</a>
               </div>
               <div class="col l2 s12">
                   <a onclick="ping_sweep()" class="waves-effect waves-light btn">Ping Sweep</a>
               </div>
           </div>

           <div id="progress_wrapper" hidden >

               <div class="row">
                   <div class="col s8 offset-s2">
                        <h5>Pinging all hosts on: {{subnet_name}}</h5>
                   </div>
               </div>

               <div class="row">
                   <div class="col s8 offset-s2">
                         <div class="progress">
                             <div class="indeterminate"></div>
                         </div>
                   </div>
               </div>

           </div>

        </div>


        <div class="card-panel hoverable">
            <div id="host_table_div"></div>
            <div id="page_bottom" class="scrollspy"></div>
        </div>

    </div>

    <div class="fixed-action-btn hide-on-med-and-down" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large white">
          <i class="large material-icons grey-text text-darken-3">more_vert</i>
        </a>
         <ul>
          <li><a href="#host_table" class="btn-floating white"><i class="material-icons grey-text text-darken-3">arrow_upward</i></a></li>
          <li><a href="#page_bottom" class="btn-floating white"><i class="material-icons grey-text text-darken-3">arrow_downward</i></a></li>
        </ul>
    </div>

    <div id="host_modal" class="modal bottom-sheet">
        <div id="host_details"></div>
    </div>

    <div id="ping_modal" class="modal">
     <div class="modal-content">
         <div class="row">
                   <div class="col s8 offset-s2">
                        <h5>Pinging all hosts on: {{subnet_name}}</h5>
                   </div>
               </div>

               <div class="row">
                   <div class="col s8 offset-s2">
                         <div class="progress">
                             <div class="indeterminate"></div>
                         </div>
                   </div>
               </div>
     </div>

    </div>


    <form id="token">
      {%csrf_token%}
      <input id="ip_addr" type='hidden' name='ip' value='' />
    </form>

    <script>

        function update_host() {
            //ajax call - sends a post request to update a hosts details
            var url = $("#host_update_form").attr("action");
            var form = $("#host_update_form").serialize();
            var posting =$.post(url,form);
            posting.done(function (data) {
                Materialize.toast(data.msg, 2000, data.css);
                $("#host_modal").closeModal();
                load_page();
            });
        }

        function get_host_detail(ip){
          //ajax call - gets form html from server and sets it into a modal
          var url = "{% url 'ip_manager:host_details' %}";
          $('#ip_addr').val(ip);
          var d = $("#token").serialize();

          $("#host_details").empty();

          $.post(url , d ,function (data) {
              $("#host_details").html(data);
              $("#host_modal").openModal();
          })
        }

        function load_page() {
            //ajax call to refresh page - used after all host updates
            $('#host_table_div').load("{% url 'ip_manager:host_table' subnet_name%}",   function() {
                init(); // runs docready functions (in base.html) on dynamic html
            });
        }

        function ping_host(id){
            var url = "ping_host/" + id;
            $.get(url,function () {
                load_page();
            });

        }
        function ping_sweep() {
           $("#ping_modal").openModal({
              ready: function() {
                   $.get("{% url 'ip_manager:ping_sweep' subnet_name %}",function (data) {
                       $("#ping_modal").closeModal();
                       Materialize.toast(data, 1000, "blue white-text", function () {
                           load_page();
                       });
                   });
              }
           });
        }

        function find_open_host() {
          $("#host_details").empty();
          $.get("{% url 'ip_manager:find_open_host' subnet_name%}" ,function (data) {
              $("#host_details").html(data);
              $("#host_modal").openModal();
          })
        }



         $(document).ready(function() {
            load_page();
          });

    </script>

{% endblock %}
