<!-- Dropdown Structure -->

<ul id="dropdown1" class="dropdown-content">
  <li><a class="black-text" href="#!">one</a></li>
  <li><a class="black-text" href="#!">two</a></li>
  <li class="divider"></li>
  <li class="center"><button id="new_subnet_button" data-target="NewSubnetForm" class="btn modal-trigger black white-text">New Subnet</button></li>
</ul>

<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper white">

        <a href="#!" class="brand-logo grey-text">{% block title %}{% endblock %}</a>

        <ul class="right hide-on-med-and-down grey-text">
{#          <li><a  class="grey-text" href="sass.html">Sass</a></li>#}

              <li>
                  <form id="search_form" action="{% url 'ip_manager:host_details_by_name' %}">
                    {% csrf_token %}
                    <div class="input-field">

                      <input name="search" id="search" type="search" required>
                      <label for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons ">close</i>
                    </div>
                  </form>
              </li>


          <li class="center"><a class="dropdown-button grey-text center" href="#!" data-activates="dropdown1">Subnets<i class="material-icons right grey-text">arrow_drop_down</i></a></li>
        </ul>


      </div>
    </nav>
</div>
