<form id="new_subnet_form" action="/ip_manager/subnet/new">

            {% csrf_token %}

            <div class="modal-content">

                <div class="row">


                    <div class="input-field col s9">
                      <input name="name" id="name" type="text" class="validate">
                      <label class="active" for="name">Subnet Name</label>
                    </div>

                    <div class="col s3 center">
                      <h6>Network Type</h6>
                      <div class="switch">
                        <label>
                          Static
                          <input type="checkbox">
                          <span class="lever"></span>
                          DHCP
                        </label>
                      </div>
                    </div>
                </div>

                <div class="row">

                    <div class="input-field col s9">
                      <input name="first_host" id="first_host" type="text" class="validate">
                      <label class="active" for="first_host">Base IP Address</label>
                    </div>

                    <div class="input-field col s3">
                      <input value="/24" name="cidr" id="cidr" type="text" class="validate">
                      <label class="active" for="cidr">Scope</label>
                    </div>
                </div>

                <div class="row">

                    <div class="input-field col s6">
                      <input value="255.255.255.0" name="netmask" id="netmask" type="text" class="validate">
                      <label class="active" for="netmask">Netmask</label>
                    </div>

                    <div class="input-field col s6">
                      <input name="gateway" id="gateway" type="text" class="validate">
                      <label class="active" for="gateway">Gateway</label>
                    </div>

                </div>

                <div class="row">

                    <div class="input-field col s6">
                      <input name="dns1" id="dns1" type="text" class="validate">
                      <label class="active" for="dns1">Primary DNS Server</label>
                    </div>

                    <div class="input-field col s6">
                      <input name="dns2" id="dns2" type="text" class="validate">
                      <label class="active" for="dns2">Secondary DNS Server</label>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
              <a id="new_subnet_submit" class=" modal-action modal-close waves-effect waves-green btn-flat">Create Subnet</a>
            </div>
</form>