{% extends "ip_manager/base.html" %}

{% block navigation %}
<ul id="dropdown1" class="dropdown-content">
      <li><a class="" href=""></a></li>
      <li class="divider"></li>
      <li class="center"><button id="new_subnet_button" data-target="NewSubnetForm" class="btn modal-trigger">New Subnet</button></li>
    </ul>

    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">

            <a href="/ip_manager" class="brand-logo">Actions</a>

            <ul class="right hide-on-med-and-down ">


              <li class="center"><a class="dropdown-button center" data-activates="dropdown1">Subnets<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

          </div>
        </nav>
    </div>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="card-panel hoverable">
                <table class="bordered highlight responsive-table">

                    <thead>
                      <tr>
                          <th>Subnet Name</th>
                          <th>Base IP</th>
                          <th>Vlan</th>
                          <th>Netmask</th>
                          <th>Gateway</th>
                          <th>Primary DNS</th>
                          <th>Secondary DNS</th>
                          <th>Type</th>
                          <th>Last Ping Sweep</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for s in subnets %}
                      <tr>
                          <td><a href="{% url 'ip_manager:host_index' s.name %}">{{ s.name }}</a></td>
                          <td>{{ s.first_host }}{{ s.cidr }}</td>
                          <td>{{ s.vlan }}</td>
                          <td>{{ s.netmask }}</td>
                          <td>{{ s.gateway }}</td>
                          <td>{{ s.dns_1 }}</td>
                          <td>{{ s.dns_2 }}</td>
                          <td>{{ s.type }}</td>
                          <td>{{ s.last_sweep }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>

                </table>
        </div>
    </div>






{% endblock %}

